#father {
  length: 4;
  extract: green;
  range: 1 2;
}
.sel-black {
  font: 1px;
}
.sel-white {
  font: 1px;
}
.sel-green {
  font: 1px;
}
.sel-red {
  font: 1px;
}
.set-2 {
  one-1: green;
  two-2: red;
  three-3: blue;
}
.col-1 {
  height: 25%;
}
.col-2 {
  height: 50%;
}
.col-3 {
  height: 75%;
}
.col-4 {
  height: 100%;
}
